/* Created by 崔国辉 on 2018/11/13 0013 14:52 */
/* Develop by 崔国辉 on 2018/11/13 0013 14:52 */
#components-layout-demo-custom-trigger .trigger {
  font-size: 20px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}

.ant-layout{
  width: 100%;
  height: 100%;
}

.ant-menu{
  font-size: 18px;
}

.ant-layout-sider {
  background: none;
}

#home-side{
  height:calc(100% - 80px);
}

.ant-menu-submenu-inline i.title{
  font-style: normal;
  -webkit-transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  opacity: 1;
}
.ant-menu-submenu-vertical i.title{
  font-style: normal;
  max-width: 0;
  display: inline-block;
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
