/* Created by 崔国辉 on 2018/11/15 0015 11:32 */
/* Develop by 崔国辉 on 2018/11/15 0015 11:32 */
.rdw-editor-main{
  background: #fff;
  min-height: 500px;
}

.rdw-editor-toolbar{
  border: 1px solid #ccc;
}
